.div-calend{
    display: flex;
    justify-content: center;
    align-items: center;;
}

.expLab{
    margin: 50px;
}

div.experience{
    display: flex;
    justify-content: center;
    align-items: center;
}