body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  background-color: rgb(180, 218, 247);
  // background-color: rgb(250, 250, 109);
  // background-color: rgb(204, 204, 204);
}

.h2cv{
  color: #ccc
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-nav{
  border-radius: 5rem;
  // background-color: rgb(243, 246, 246);
  background-color: rgb(229, 231, 247);
  // background: transparent;
  margin: 20px;
  font-weight: semibold;
  // color: #444;
  color: black;
  font-size: 0.9rem;
  padding: 0.5rem 1.2rem;
  // border: 2px solid #eee;
  transition: all ls ease;
  cursor: pointer;
  // box-shadow: 5rem .5rem 1rem #ccc;

}

.icon-footer{
  width: 40px;
}

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}